

*
{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: auto;
  background: #010216;
}

.container{
  position: fixed;
  pointer-events: none;
  width : 100%;
  height: 100vh;
  overflow: visible;
}

.light{
    position : relative;
    display : flex;
}

.light span{
    position : relative;
    width : 5px;
    height : 5px;
    background: #c9f0f3;
    margin : 0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fdfdfd,
    0 0 50px #fff,
    0 0 100px #fff;
    animation: animate 10s ease infinite;
    animation-duration: calc(100s / var(--i));
}



@keyframes animate {
    0%
    {
        opacity : 0.1;
        transform : translateY(100vh) scale(0.1);
    }

    10%
    {
        opacity: 1;
    }

    30%
    {
        
    }
    


    100%
    {
        transform: translateY(-10vh) scale(0.5);
    }
    
}

