
.FireWorks {
  position: fixed;
  user-select: none;
  inset : 0;
  cursor : default;
  background : transparent;
  pointer-events: none;
}

.line {
  position: fixed;
  cursor: default;
  width: 2px;
  height: 5px;
  border-radius: 1px;
  opacity: 1;
  filter: blur(0.5px);
  transform-origin: center;
  animation: fadeAndFly 1s ease-out forwards;
}

@keyframes fadeAndFly {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
  }
}