.NavigationBar-Container{
    position : relative;
    display: flex;
    top : 50px;
    justify-content: center;
    gap : 75px;
    padding-top: 15px;
}

.NavigationBar-Container .NavStyle{
    color : white;
    display : inline-block;
    padding : 10px 20px;
    border-radius: 8px;
    border : 2px solid;
    border-color: white;
    text-decoration: none;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: border-color 800ms ease, box-shadow 500ms ease, translate 500ms ease;
    position : relative;
    font-size: 16px;
}



.NavigationBar-Container .NavStyle::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 6px; 
  width: 0;
  height: 2px;
  background-color: rgb(200, 209, 209);  
  transition: width 0.3s ease;
}

.NavigationBar-Container .NavStyle:hover {
  border-color: rgb(14, 146, 146);
  box-shadow: 5px 5px 10px rgba(1, 54, 78, 0.5);
  translate : 0 -5px;
}


.NavigationBar-Container .NavStyle:hover::after {
  width: 100%;
}


.fade-in{
    opacity : 0;
    transform: translateY(8x);
    animation: FadeIn 800ms ease-out var(--delay, 120ms) 1 forwards;
}

@keyframes FadeIn {

    0%{
        opacity : 0;
    }

    100%{
        opacity : 1;
        transform: translateY(0);
    }
    
}